* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

header {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 1;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem
}
nav li {
	list-style: none;
}

nav a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: #333;
}

nav a:hover {
	background-color: #ffffff;
}

nav ul li a {
	font-size: 25px;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
	flex-grow: 1;
}

#about {
	margin: 4rem 0;
	text-align: center;
}

#about img {
	display: block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	margin: 2rem auto;
}

#about p {
	max-width: 600px;
	margin: 0 auto;
}

#contact {
	margin: 4rem 0;
	text-align: center;
}

#contact form {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#contact input,
#contact textarea {
	display: block;
	width: 100%;
	padding: 1rem;
	margin: 1rem;
	border-radius: 5px;
	border: 1px solid #ccc;
}

#contact textarea {
	height: 200px;
}

#contact button {
	display: block;
	background-color: #0085FF;
	color: #fff;
	padding: 1rem 2rem;
	border: none;
	border-radius: 25px;
	text-decoration: none;
	transition: background-color 0.2s ease;
	margin: 1rem;
}

#contact button:hover {
	background-color: #0066CC;
}

footer {
	background-color: #fff;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	text-align: center;
	margin-top: 4rem;
}




#contact {
	background-color: #fff;
}

#contact h2 {
	margin-bottom: 20px;
}

.contact-info {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0px;
	justify-content: center;
}

.info a{
	color: #333;
    text-decoration: none;
}

.info a:hover{
	color: #0037ff;
    text-decoration: underline;
}

.info {
	display: flex;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 10px;
}

.info img {
	margin-right: 10px;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
}

form label {
	margin-bottom: 5px;
	font-weight: bold;
}

form input, form textarea {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
}

form input:focus, form textarea:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

form button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form button:hover {
	background-color: #555;
}