* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f7f7f7;
}

header {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 1;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem
}
nav li {
	list-style: none;
}

nav a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: #333;
}

nav a:hover {
	background-color: #cecece;
}

nav ul li a {
	font-size: 25px;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}

#hero {
	background-color: #0085FF;
	color: #fff;
	padding: 4rem;
	text-align: center;
}

#hero h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

#hero span {
	font-weight: 600;
}

#hero p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

#hero .cta {
	display: inline-block;
	background-color: #fff;
	color: #0085FF;
	padding: 1rem 2rem;
	border-radius: 25px;
	text-decoration: none;
	transition: background-color 0.2s ease;
}

#hero .cta:hover {
	background-color: #e1e0e0;
}

#projects {
	margin: 4rem 0;
}

#projects h2 {
	text-align: center;
	margin-bottom: 2rem;
	border-bottom-style: solid;
}

#projects h1 {
	text-align: center;
	margin-bottom: 2rem;
}

.project {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 2rem;
}

.project img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.project video {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.project h3 {
	font-size: 1.5rem;
	margin: 1rem;
	padding-bottom: 15px;
}


.project p {
	font-size: 1.2rem;
	margin: 0 1rem 1rem;
}

#about {
	margin: 4rem 0;
	text-align: center;
}

#about img {
	display: block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	margin: 2rem auto;
}

#about p {
	max-width: 600px;
	margin: 0 auto;
}

#contact {
	margin: 4rem 0;
	text-align: center;
}

#contact form {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#contact input,
#contact textarea {
	display: block;
	width: 100%;
	padding: 1rem;
	margin: 1rem;
	border-radius: 5px;
	border: 1px solid #ccc;
}

#contact textarea {
	height: 200px;
}

#contact button {
	display: block;
	background-color: #0085FF;
	color: #fff;
	padding: 1rem 2rem;
	border: none;
	border-radius: 25px;
	text-decoration: none;
	transition: background-color 0.2s ease;
	margin: 1rem;
}

#contact button:hover {
	background-color: #0066CC;
}

footer {
	background-color: #fff;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	text-align: center;
	margin-top: 4rem;
}
.experience-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px 20px;
}

.experience h1{
	text-align: center;
	margin-bottom: 40px;
}

.job {
	margin-bottom: 40px;
}

.job h2 {
	margin-bottom: 5px;
}

.job h3, .job .date {
	font-weight: 400;
	margin: 0;
}

.job ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.job ul li {
	margin-bottom: 10px;
	line-height: 1.5;
}

.job ul li:before {
	content: "•";
	margin-right: 10px;
	color: #007aff;
}



@media screen and (min-width: 768px) {
	.experience {
		padding: 80px 0;
	}

	.experience-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.job {
		flex-basis: calc(33.33% - 20px);
		margin-bottom: 0;
	}

	.job:nth-child(3n+1) {
		margin-right: 20px;
	}

	.job:nth-child(3n) {
		margin-left: 20px;
	}
}

#upimg{
    border-radius: 20px; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#upbutton {
	position: fixed;
	bottom: 50px;
	right: 50px;
}

/* Compétences */

.skills {
	padding: 40px 0;
	background-color: #f7f7f7;
}

.skills h3 {
	margin-bottom: 20px;
}

.skill {
	margin-bottom: 30px;
}

.skill-level {
	width: 100%;
	height: 10px;
	background-color: #ddd;
	border-radius: 5px;
	overflow: hidden;
}

.skill-progress {
	height: 100%;
	border-radius: 5px;
}

.skill-progress.C1 {
	background-color: #f16529;
	width: 90%;
}

.skill-progress.C2 {
	background-color: #2965f1;
	width: 85%;
}

.skill-progress.C3 {
	background-color: #f0db4f;
	width: 80%;
}

.skill-progress.C4 {
	background-color: #777bb3;
	width: 75%;
}

.skill-progress.C5 {
	background-color: #00758f;
	width: 70%;
}

.skill-progress.C6 {
	background-color: #008f18;
	width: 70%;
}

@media screen and (min-width: 768px) {
	.skills {
		padding: 80px 0;
	}
	.skill {
		display: inline-block;
		margin-right: 50px;
		vertical-align: top;
		width: calc(50% - 25px);
		margin-bottom: 50px;
	}
	.skill:nth-child(2n) {
		margin-right: 0;
	}
	.skill h3 {
		margin-bottom: 10px;
	}
	.skill-level {
		height: 20px;
	}
	.skill-progress {
		height: 100%;
		border-radius: 10px;
	}
	.skill-progress.C1 {
		width: 60%;
	}
	.skill-progress.C2 {
		width: 70%;
	}
	.skill-progress.C3 {
		width: 85%;
	}
	.skill-progress.C4 {
		width: 90%;
	}
	.skill-progress.C5 {
		width: 85%;
	}
	.skill-progress.C6 {
		width: 100%;
	}
}
.hero h1{
	text-align: center;
	margin-bottom: 40px;
}

.carousel {
    position: relative;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 2rem;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    display: none;
}

.carousel-images img.active {
    display: block;
}
.carousel h3{
	font-size: 1.5rem;
	margin: 1rem;
	padding-bottom: 15px;
}

.carousel p {
	font-size: 1.2rem;
	margin: 0 1rem 1rem;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}